In [1]:
#BMI Calculator
name1 = "raul"
height1 = 2
weight1 = 90

name2 = "raul jr"
height2 = 1.8
weight2 = 70

name3 = "marianne"
height3 = 2.5
weight3 = 160

In [5]:
def bmi_calculator(name, height_m, weight_kg):
    bmi = weight_kg / (height_m ** 2)
    print("BMI: ")
    print(bmi)
    if bmi < 25:
        return name + ' is not overweight'
    else:
        return name + ' is overweight'

In [7]:
result1 = bmi_calculator(name1, height1, weight1)
result2 = bmi_calculator(name2, height2, weight2)
result3 = bmi_calculator(name3, height3, weight3)

BMI:
22.5
BMI:
21.604938271604937
BMI:
25.6

In [8]:
print(result1)
print(result2)
print(result3)

raul is not overweight
raul jr is not overweight
marianne is overweight

In [13]:
#fizzbuzz
from __future__ import print_function

for num in range(1,101):
    string = ""
    if num % 3 == 0:
        string = string + "Fizz"
    if num % 5 == 0:
        string = string + "Buzz"
    if num % 5 != 0 and num % 3 != 0:
        string = string + str(num)
    print(string, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

In [23]:
def fizzbuzz(n):
    for i in range(1, n+1):
        if i % 3 == 0 and i % 5 == 0:
            print("fizzbuzz")
        elif i % 3 == 0 and i % 5 != 0:
            print("fizz")
        elif i % 3 != 0 and i % 5 == 0:
            print("buzz")
        else:
            print(i)

fizzbuzz(100)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [25]:
import pandas as pd
x = pd.Series([6,3,4,6])
x

0    6
1    3
2    4
3    6
dtype: int64

In [26]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4, 3))
df

          0         1         2
0 -0.442068  1.345622  0.014804
1 -0.583642 -0.828896 -1.320216
2 -0.208911 -0.954473  0.317910
3 -0.261959 -0.333177 -0.086951

In [36]:
total = 0
for i in range(1, 10):
    total += i
print(total)

45

In [2]:
# modulo
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
print(total3)

9