In [1]:
import pandas as pd

In [6]:
# specify path to file
sales = pd.read_csv("supermarket_sales.csv")

In [7]:
sales

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [10]:
# to see current working directory
import os
print(os.getcwd())

/Users/raulfernandogutierrez/Desktop/Coding/Python Code

In [ ]:
# to change the source of the directory
#os.chdir('Users/raulfernandogutierrez/Desktop')

In [14]:
# number of rows
len(sales)

1000

In [15]:
# list columns
sales.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [16]:
# number of columns
len(sales.columns)

17

In [17]:
# return top rows
sales.head() # default is 5, but you can change to any number

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [18]:
sales.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [19]:
# metadata stuff
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
Invoice ID                 1000 non-null object
Branch                     1000 non-null object
City                       1000 non-null object
Customer type              1000 non-null object
Gender                     1000 non-null object
Product line               1000 non-null object
Unit price                 1000 non-null float64
Quantity                   1000 non-null int64
Tax 5%                     1000 non-null float64
Total                      1000 non-null float64
Date                       1000 non-null object
Time                       1000 non-null object
Payment                    1000 non-null object
cogs                       1000 non-null float64
gross margin percentage    1000 non-null float64
gross income               1000 non-null float64
Rating                     1000 non-null float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [21]:
# stats on the columns
sales.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unit price,1000.0,55.672130,2.649463e+01,10.080000,32.875000,55.230000,77.935000,99.960000
Quantity,1000.0,5.510000,2.923431e+00,1.000000,3.000000,5.000000,8.000000,10.000000
Tax 5%,1000.0,15.379369,1.170883e+01,0.508500,5.924875,12.088000,22.445250,49.650000
Total,1000.0,322.966749,2.458853e+02,10.678500,124.422375,253.848000,471.350250,1042.650000
cogs,1000.0,307.587380,2.341765e+02,10.170000,118.497500,241.760000,448.905000,993.000000
gross margin percentage,1000.0,4.761905,6.220360e-14,4.761905,4.761905,4.761905,4.761905,4.761905
gross income,1000.0,15.379369,1.170883e+01,0.508500,5.924875,12.088000,22.445250,49.650000
Rating,1000.0,6.972700,1.718580e+00,4.000000,5.500000,7.000000,8.500000,10.000000

In [22]:
# to rename columns, copy and paste from output and rename accordingly
sales.columns = ['InvoiceID', 'Branch', 'City', 'CustomerType', 'Gender',
       'ProductLine', 'UnitPrice', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'GrossMargin%', 'GrossIncome',
       'Rating']

In [23]:
# display renamed columns
sales.head()

,InvoiceID,Branch,City,CustomerType,Gender,ProductLine,UnitPrice,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,GrossMargin%,GrossIncome,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [24]:
# subsetting dataframe in Pandas
# -Rows
# -Columns
# -Combine the 2

# limiting rows
sales[30:50]

,InvoiceID,Branch,City,CustomerType,Gender,ProductLine,UnitPrice,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,GrossMargin%,GrossIncome,Rating
30,871-79-8483,B,Mandalay,Normal,Male,Fashion accessories,94.13,5,23.5325,494.1825,2/25/2019,19:39,Credit card,470.65,4.761905,23.5325,4.8
31,149-71-6266,B,Mandalay,Member,Male,Sports and travel,78.07,9,35.1315,737.7615,1/28/2019,12:43,Cash,702.63,4.761905,35.1315,4.5
32,640-49-2076,B,Mandalay,Normal,Male,Sports and travel,83.78,8,33.5120,703.7520,1/10/2019,14:49,Cash,670.24,4.761905,33.5120,5.1
33,595-11-5460,A,Yangon,Normal,Male,Health and beauty,96.58,2,9.6580,202.8180,3/15/2019,10:12,Credit card,193.16,4.761905,9.6580,5.1
34,183-56-6882,C,Naypyitaw,Member,Female,Food and beverages,99.42,4,19.8840,417.5640,2/6/2019,10:42,Ewallet,397.68,4.761905,19.8840,7.5
35,232-16-2483,C,Naypyitaw,Member,Female,Sports and travel,68.12,1,3.4060,71.5260,1/7/2019,12:28,Ewallet,68.12,4.761905,3.4060,6.8
36,129-29-8530,A,Yangon,Member,Male,Sports and travel,62.62,5,15.6550,328.7550,3/10/2019,19:15,Ewallet,313.10,4.761905,15.6550,7.0
37,272-65-1806,A,Yangon,Normal,Female,Electronic accessories,60.88,9,27.3960,575.3160,1/15/2019,17:17,Ewallet,547.92,4.761905,27.3960,4.7
38,333-73-7901,C,Naypyitaw,Normal,Female,Health and beauty,54.92,8,21.9680,461.3280,3/23/2019,13:24,Ewallet,439.36,4.761905,21.9680,7.6
39,777-82-7220,B,Mandalay,Member,Male,Home and lifestyle,30.12,8,12.0480,253.0080,3/3/2019,13:01,Cash,240.96,4.761905,12.0480,7.7
40,280-35-5823,B,Mandalay,Member,Female,Home and lifestyle,86.72,1,4.3360,91.0560,1/17/2019,18:45,Ewallet,86.72,4.761905,4.3360,7.9
41,554-53-8700,C,Naypyitaw,Member,Male,Home and lifestyle,56.11,2,5.6110,117.8310,2/2/2019,10:11,Cash,112.22,4.761905,5.6110,6.3
42,354-25-5821,B,Mandalay,Member,Female,Sports and travel,69.12,6,20.7360,435.4560,2/8/2019,13:03,Cash,414.72,4.761905,20.7360,5.6
43,228-96-1411,C,Naypyitaw,Member,Female,Food and beverages,98.70,8,39.4800,829.0800,3/4/2019,20:39,Cash,789.60,4.761905,39.4800,7.6
44,617-15-4209,C,Naypyitaw,Member,Male,Health and beauty,15.37,2,1.5370,32.2770,3/16/2019,19:47,Cash,30.74,4.761905,1.5370,7.2
45,132-32-9879,B,Mandalay,Member,Female,Electronic accessories,93.96,4,18.7920,394.6320,3/9/2019,18:00,Cash,375.84,4.761905,18.7920,9.5
46,370-41-7321,B,Mandalay,Member,Male,Health and beauty,56.69,9,25.5105,535.7205,2/27/2019,17:24,Credit card,510.21,4.761905,25.5105,8.4
47,727-46-3608,B,Mandalay,Member,Female,Food and beverages,20.01,9,9.0045,189.0945,2/6/2019,15:47,Ewallet,180.09,4.761905,9.0045,4.1
48,669-54-1719,B,Mandalay,Member,Male,Electronic accessories,18.93,6,5.6790,119.2590,2/10/2019,12:45,Credit card,113.58,4.761905,5.6790,8.1
49,574-22-5561,C,Naypyitaw,Member,Female,Fashion accessories,82.63,10,41.3150,867.6150,3/19/2019,17:08,Ewallet,826.30,4.761905,41.3150,7.9

In [25]:
# limit from a number in the rows through the end
sales[900:]

,InvoiceID,Branch,City,CustomerType,Gender,ProductLine,UnitPrice,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,GrossMargin%,GrossIncome,Rating
900,377-79-7592,C,Naypyitaw,Member,Female,Electronic accessories,44.84,9,20.1780,423.7380,1/14/2019,14:00,Credit card,403.56,4.761905,20.1780,7.5
901,509-10-0516,B,Mandalay,Normal,Male,Home and lifestyle,45.97,4,9.1940,193.0740,2/9/2019,12:02,Ewallet,183.88,4.761905,9.1940,5.1
902,595-94-9924,A,Yangon,Member,Female,Health and beauty,27.73,5,6.9325,145.5825,3/26/2019,20:21,Credit card,138.65,4.761905,6.9325,4.2
903,865-41-9075,A,Yangon,Normal,Male,Food and beverages,11.53,7,4.0355,84.7455,1/28/2019,17:35,Cash,80.71,4.761905,4.0355,8.1
904,545-07-8534,C,Naypyitaw,Normal,Female,Health and beauty,58.32,2,5.8320,122.4720,2/14/2019,12:42,Ewallet,116.64,4.761905,5.8320,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [26]:
# only rows with a number as the interval
sales[::100]

,InvoiceID,Branch,City,CustomerType,Gender,ProductLine,UnitPrice,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,GrossMargin%,GrossIncome,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
100,163-56-7055,C,Naypyitaw,Member,Male,Fashion accessories,48.71,1,2.4355,51.1455,3/26/2019,19:20,Cash,48.71,4.761905,2.4355,4.1
200,606-80-4905,C,Naypyitaw,Member,Female,Sports and travel,19.15,6,5.7450,120.6450,1/29/2019,10:01,Credit card,114.90,4.761905,5.7450,6.8
300,446-47-6729,C,Naypyitaw,Normal,Male,Fashion accessories,99.82,2,9.9820,209.6220,1/2/2019,18:09,Credit card,199.64,4.761905,9.9820,6.7
400,110-05-6330,C,Naypyitaw,Normal,Female,Food and beverages,39.43,6,11.8290,248.4090,3/25/2019,20:18,Credit card,236.58,4.761905,11.8290,9.4
500,277-63-2961,B,Mandalay,Member,Male,Sports and travel,73.97,1,3.6985,77.6685,2/3/2019,15:53,Credit card,73.97,4.761905,3.6985,5.4
600,219-61-4139,C,Naypyitaw,Normal,Male,Electronic accessories,83.08,1,4.1540,87.2340,1/23/2019,17:16,Ewallet,83.08,4.761905,4.1540,6.4
700,626-43-7888,C,Naypyitaw,Normal,Female,Fashion accessories,60.41,8,24.1640,507.4440,2/7/2019,12:23,Ewallet,483.28,4.761905,24.1640,9.6
800,751-15-6198,B,Mandalay,Normal,Male,Sports and travel,23.01,6,6.9030,144.9630,1/12/2019,16:45,Ewallet,138.06,4.761905,6.9030,7.9
900,377-79-7592,C,Naypyitaw,Member,Female,Electronic accessories,44.84,9,20.1780,423.7380,1/14/2019,14:00,Credit card,403.56,4.761905,20.1780,7.5

In [29]:
# select only specified columns

#sales['Branch','City','CustomerType', 'Gender', 'ProductLine', 'Date', 'UnitPrice', 'Quantity','Time','Payment']
sales['Gender'].head(25)

0     Female
1     Female
2       Male
3       Male
4       Male
5       Male
6     Female
7     Female
8     Female
9     Female
10    Female
11      Male
12    Female
13      Male
14    Female
15    Female
16    Female
17      Male
18      Male
19    Female
20      Male
21      Male
22      Male
23      Male
24      Male
Name: Gender, dtype: object

In [30]:
sales[['Branch','City','CustomerType', 'Gender', 'ProductLine', 'Date', 'UnitPrice', 'Quantity','Time','Payment']].head(10)

,Branch,City,CustomerType,Gender,ProductLine,Date,UnitPrice,Quantity,Time,Payment
0,A,Yangon,Member,Female,Health and beauty,1/5/2019,74.69,7,13:08,Ewallet
1,C,Naypyitaw,Normal,Female,Electronic accessories,3/8/2019,15.28,5,10:29,Cash
2,A,Yangon,Normal,Male,Home and lifestyle,3/3/2019,46.33,7,13:23,Credit card
3,A,Yangon,Member,Male,Health and beauty,1/27/2019,58.22,8,20:33,Ewallet
4,A,Yangon,Normal,Male,Sports and travel,2/8/2019,86.31,7,10:37,Ewallet
5,C,Naypyitaw,Normal,Male,Electronic accessories,3/25/2019,85.39,7,18:30,Ewallet
6,A,Yangon,Member,Female,Electronic accessories,2/25/2019,68.84,6,14:36,Ewallet
7,C,Naypyitaw,Normal,Female,Home and lifestyle,2/24/2019,73.56,10,11:38,Ewallet
8,A,Yangon,Member,Female,Health and beauty,1/10/2019,36.26,2,17:15,Credit card
9,B,Mandalay,Member,Female,Food and beverages,2/20/2019,54.84,3,13:27,Credit card

In [31]:
# quick access to columns
sales.City

0         Yangon
1      Naypyitaw
2         Yangon
3         Yangon
4         Yangon
         ...
995    Naypyitaw
996     Mandalay
997       Yangon
998       Yangon
999       Yangon
Name: City, Length: 1000, dtype: object

In [35]:
# select a subset of rows and columns
sales[0:10][['Gender','ProductLine']]

# trick (flip the subsets and get same results)
sales[['Gender', 'ProductLine']][0:10]

   Gender             ProductLine
0  Female       Health and beauty
1  Female  Electronic accessories
2    Male      Home and lifestyle
3    Male       Health and beauty
4    Male       Sports and travel
5    Male  Electronic accessories
6  Female  Electronic accessories
7  Female      Home and lifestyle
8  Female       Health and beauty
9  Female      Food and beverages

In [37]:
# drop columns
sales = sales.drop('cogs', 1) # axis is equal to 1 for (columns)

In [38]:
sales

,InvoiceID,Branch,City,CustomerType,Gender,ProductLine,UnitPrice,Quantity,Tax 5%,Total,Date,Time,Payment,GrossMargin%,GrossIncome,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,4.761905,30.9190,6.6

In [39]:
# filtering DataFrames
sales.Quantity > 2

0       True
1       True
2       True
3       True
4       True
       ...
995    False
996     True
997    False
998    False
999     True
Name: Quantity, Length: 1000, dtype: bool

In [40]:
# adding those results to a variable
multiItems = sales.Quantity > 2

In [42]:
# take the filtered dataframe (purchased over 2 items) and pass it through the previous dataframe to filter out
sales[multiItems]

,InvoiceID,Branch,City,CustomerType,Gender,ProductLine,UnitPrice,Quantity,Tax 5%,Total,Date,Time,Payment,GrossMargin%,GrossIncome,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,4.761905,14.1400,4.5
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,4.761905,38.3000,6.0
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,4.761905,8.7450,6.6
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,4.761905,48.6900,4.4
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,4.761905,30.9190,6.6

In [57]:
# create a DataFrame with male shoppers who purchsed more than 5 items
maleShoppers = (sales.Gender == 'Male') & (sales.Quantity > 5)

In [58]:
sales[maleShoppers]

,InvoiceID,Branch,City,CustomerType,Gender,ProductLine,UnitPrice,Quantity,Tax 5%,Total,Date,Time,Payment,GrossMargin%,GrossIncome,Rating
0,750-67-8428,A,Yangon,Member,Male,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,4.761905,29.8865,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,4.761905,30.1480,8.4
991,602-16-6955,B,Mandalay,Normal,Male,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,4.761905,38.3000,6.0
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,4.761905,8.7450,6.6
996,303-96-2227,B,Mandalay,Normal,Male,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,4.761905,48.6900,4.4
999,849-09-3807,A,Yangon,Member,Male,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,4.761905,30.9190,6.6

In [59]:
# get unique categories (similar to DISTINCT)
sales.ProductLine.unique() # unique Product Categories

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

In [60]:
# get unique categories (similar to DISTINCT)
sales.City.unique() # unique cities

array(['Yangon', 'Naypyitaw', 'Mandalay'], dtype=object)

In [61]:
sales[sales.City == 'Yangon']

,InvoiceID,Branch,City,CustomerType,Gender,ProductLine,UnitPrice,Quantity,Tax 5%,Total,Date,Time,Payment,GrossMargin%,GrossIncome,Rating
0,750-67-8428,A,Yangon,Member,Male,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3
6,355-53-5943,A,Yangon,Member,Male,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,4.761905,20.6520,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,886-18-2897,A,Yangon,Normal,Male,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,4.761905,14.1400,4.5
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,4.761905,5.8030,8.8
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Male,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,4.761905,30.9190,6.6