In [1]:
from pyspark import SparkContext

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName('Python Spark SQL basic example') \
    .config('hive.metastore.uris', 'thrift://localhost:9083') \
    .getOrCreate()

In [6]:
df = spark.read.csv('fifa19_kaggle.csv')

df2 = df.createOrReplaceTempView("fifa")
#df2 = spark.sql("SELECT fifa._c2 as Name, fifa._c3 as Age, fifa._c5 as Nationality, fifa._c7 as Skillz FROM fifa where fifa._c2 <> 'Name' ORDER BY 4 DESC" )
df2 = spark.sql("SELECT count(*) as Totals, fifa._c5 as Nationality, avg(fifa._c7) as AvgSkill from fifa where fifa._c2 <> 'Name' GROUP BY fifa._c5 HAVING COUNT(*) > 15 ORDER BY 3 DESC")

df2.show(20)


#df2.groupBy('Nationality') \
#    .count()\
#    .show(100)

#df2.sort("Nationality", ascending=True).collect()


#df2.select('Nationality', 'Totals').show()

#df2.select(df2.Totals.between(10,50)) \
#    .show(10)
 
#df.select('_c2', '_c3').show()

#df.show()


#WHERE countries._c0='Austria'

+------+--------------+-----------------+
|Totals|   Nationality|         AvgSkill|
+------+--------------+-----------------+
|    19|    Cape Verde|71.63157894736842|
|   322|      Portugal|71.34472049689441|
|   827|        Brazil| 71.2515114873035|
|    60|       Algeria|70.63333333333334|
|   149|       Uruguay|70.42953020134229|
|    73|       Ukraine|70.42465753424658|
|    31|         Egypt| 70.2258064516129|
|    37|          Peru|70.21621621621621|
|    79|        Russia| 70.0632911392405|
|    85|       Morocco|69.94117647058823|
|   126|        Serbia|69.92857142857143|
|  1072|         Spain|69.69869402985074|
|    85|      Paraguay|69.61176470588235|
|   126|       Croatia|69.56349206349206|
|    55|      Slovenia|69.52727272727273|
|   100|Czech Republic|            69.51|
|   100|   Ivory Coast|            69.39|
|    38|       Hungary|69.23684210526316|
|    52|      DR Congo|69.21153846153847|
|    16|      Honduras|          69.1875|
+------+--------------+-----------------+
only showing top 20 rows

In [4]:
df2.createGlobalTempView('results')

In [5]:
results_df = spark.sql("SELECT * FROM global_temp.results")\
            .show()

+------+--------------+-----------------+
|Totals|   Nationality|         AvgSkill|
+------+--------------+-----------------+
|    19|    Cape Verde|71.63157894736842|
|   322|      Portugal|71.34472049689441|
|   827|        Brazil| 71.2515114873035|
|    60|       Algeria|70.63333333333334|
|   149|       Uruguay|70.42953020134229|
|    73|       Ukraine|70.42465753424658|
|    31|         Egypt| 70.2258064516129|
|    37|          Peru|70.21621621621621|
|    79|        Russia| 70.0632911392405|
|    85|       Morocco|69.94117647058823|
|   126|        Serbia|69.92857142857143|
|  1072|         Spain|69.69869402985074|
|    85|      Paraguay|69.61176470588235|
|   126|       Croatia|69.56349206349206|
|    55|      Slovenia|69.52727272727273|
|   100|Czech Republic|            69.51|
|   100|   Ivory Coast|            69.39|
|    38|       Hungary|69.23684210526316|
|    52|      DR Congo|69.21153846153847|
|    16|      Honduras|          69.1875|
+------+--------------+-----------------+
only showing top 20 rows